h1 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 70px;
  font-style: normal;
  color: #E3F0D3;
}

label {
  color: #F1A51F;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}


.table-lines {
  width: 100%;
  padding-left: 20px;
}

.table-lines tr {
  border: 5px solid var(--black);
}

input {
  border-bottom: 1px solid #E3F0D3;
  background-color: var(--black);
  width: 100%;
  color: #E3F0D3;
}

button {
  background-color: var(--red);
  padding: 1px 35px;
  border-radius: 50px;
  color: var(--white);
  font-family: "Micro 5", sans-serif;
  font-size: 35px;
  display: flex;
  align-items: center;
}


p {
  color: #E3F0D3;
  font-size: 24px;
}

.create-graduate-heading {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  size: 5000px;
  font-style: normal;
  color: #E3F0D3;
  margin-left: 40px;
}

.table-input {
  width: 100%;
}

.table-input td {
  padding: 20px 50px;
}


.body {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
}

.view-mode-button {
  border-radius: 50px;
  padding: 1px 35px;
  font-family: "Micro 5", sans-serif;
  font-size: 25px;
  color: var(--orange);
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--orange);
}

.update-button {
  border-radius: 50px;
  padding: 1px 35px;
  font-family: "Micro 5", sans-serif;
  font-size: 25px;
  color: var(--green);
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--green);
}

.delete-button {
  border-radius: 50px;
  padding: 1px 35px;
  font-family: "Micro 5", sans-serif;
  font-size: 25px;
  color: var(--red);
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--red);
}

.graduate-list {
  border: 1px solid var(--white);
  font-family: "Orbitron", sans-serif;
  font-size: 18px;
  color: var(--white);
}

.grad-name-heading {
  background-color: var(--white);
  border-radius: 10px;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 8px 10px;
  color: var(--black);
  font-size: 20px;
}

.table-grad-details {
  border-collapse: collapse;
  width: 100%;
}

.table-grad-details td {
  padding: 25px;
}

.grad-info-label {
  color: var(--white);
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 22px;
  display: block;
  width: 100%;
  padding-left: 25px;
}

.popup-delete {
  
  padding: 20px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.popup-label {
  font-family: "Orbitron", sans-serif;
  display: block;
  font-weight: 400;
  font-style: normal;
  color: var(--black);
}

.popup-label2 {
  font-family: "Micro 5", sans-serif;
  color: var(--black);
}